<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="icon" href="{% static 'img/staces-logo.png' %}">
	<title>Staces</title>
</head>
<body>


<div id="page-wrap">
	<!-- ==========================================================================================================
													   HERO
		 ========================================================================================================== -->

	<div id="fh5co-hero-wrapper">
		<nav class="navbar navbar-expand-lg navbar-light main-navbar-nav1">
			<a class="navbar-brand" href="">STACES</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
		  
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav nav-items-center ml-auto mr-auto">
				<li class="nav-item active">
				  	<a class="nav-link" href="{% url 'home:index' %}">Home<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
				  	<a class="nav-link" href="{% url 'todo:index' %}">TO DO</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'happy:home' %}">Happy</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'learning:index' %}">Learning</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'foryou:index' %}">For You</a>
				</li>
				{% if user.is_authenticated %}
					<a href="/logout/">
						<div class="social-icons-header">
							<a href="/logout/">
								<button type="button" class="btn btn-md features-btn-first animated fadeInLeft wow ml-4" data-wow-delay="0.95s">Log Out</button>
							  </a>
						</div>
					</a>
				{% else %}
					<a href="#log-in">
						<div class="social-icons-header">
							<button class="btn btn-md features-btn-first animated fadeInLeft wow ml-4" data-wow-delay="0.95s">Log In</button>
						</div>
					</a>
				{% endif %}
			  </ul>
			</div>
		  </nav>

		<div class="container fh5co-hero-inner">
			<h1 class="animated fadeIn wow" data-wow-delay="0.4s" id="h1-home">STACES</h1>
			<p class="animated fadeIn wow" data-wow-delay="0.67s" id="p-header">Your bestfriend in quarantine!</p>
		</div>

		
	</div> <!-- first section wrapper -->
	
	<div class="wow animated fadeIn" data-wow-delay="0.15s">		
		<div class="container">
			<div class="row" id="aboutLeft">
				<div class="col" id="aboutText1">
					About Staces
				</div>
				<div class="col-7" id="aboutText2">
					STACES is a platform to facilitate the activities of students during a pandemic like nowadays. 
					STACES has many very helpful features in the form of features for managing schedules, getting motivational messages anonymously, and also getting entertainment or learning resources.
				</div>
			</div>
		</div>
	</div>

	<!-- ==========================================================================================================
													  FEATURES
		 ========================================================================================================== -->

	<div class="wow animated fadeIn" data-wow-delay="0.15s">
		<div class="study-space">
			<div class="our-features">
				<div class="stace-features">Our Features</div>
				<div class="container-study">
					<div class="box-1-kiri">
						<img src="{% static 'img/to-do.png' %}" class="study-img-1">
					</div>
					<div class="box-1-kanan">
						<h1>TO-DO</h1>
						<p>You can easily manage your tasks here. These tasks will be divided into two categories, 
						such as group tasks and personal tasks. Not only that, the tasks will be sorted based 
						on the closest deadline, both day and time. For previous tasks that you have done, 
						there will be a delete button or simply a mark for the completed tasks.</p>
					</div>
				</div>
	
				<div class="container-study">
					<div class="box-2-kiri">
						<img src="{% static 'img/watching-tv.png' %}" class="study-img">
					</div>
					<div class="box-2-kanan">
						<h1>Happy Space</h1>
						<p>This is a relaxing space to clear your mind after went through the day. There will be 
							various categories of entertainment that you can do at home. The categories are music, 
							movies, and games. Each category will be presented with articles containing recommendations 
							along with a brief description.</p>
					</div>
				</div>
	
				<div class="container-study">
					<div class="box-1-kiri">
						<img src="{% static 'img/brain.png' %}" class="study-img">
					</div>
					<div class="box-1-kanan">
						<h1>Study Space</h1>
						<p>You can go all over the world to study with just a browser, but what matters is that 
							do you know where the sources are? Find out more learning sources based on categories 
							that you want to know here. There will be a short description of each source to help you 
							find what you need before going to the actual site. Lastly, you can also contribute to 
							add another learning source that might help other people with their studies.</p>
					</div>
				</div>
	
				<div class="container-study">
					<div class="box-2-kiri">
						<img src="{% static 'img/letter.png' %}" class="study-img">
					</div>
					<div class="box-2-kanan">
						<h1>For You</h1>
						<p>Here is space for you to keep socializing with everyone from anywhere. You can simply write 
							a short message that will be received by other users randomly in our app. And of course, 
							you will receive messages from them too. Although the messages are anonymous, they can 
							mean a lot to each other especially in this pandemic season.</p>
					</div>
				</div>
	
			</div>
		</div>
	</div>

	<!-- ==========================================================================================================
													  SIGNIN SIGNUP
		 ========================================================================================================== -->
	{% if not user.is_authenticated %}
	<div class="wow animated fadeIn" data-wow-delay="0.15s">
		<div class="container" id="log-in">
			<h1 class="register-title">Please LogIn Here!</h1>
			<form action="/" method="POST">
				{% csrf_token %}

				<div class="register-input">
					<label for="username">Username</label> <br>
					<input type="text" name="username" required>
				</div>
				<div class="register-input">
					<label for="password">Password</label> <br>
					<input type="password" name="password" required>
				</div>
				{% for message in messages %}
				{{ message }}
        		{% endfor %}
				
				<p class="to-register">Don't have an account? Create one <a class="to-register-ref" href="register/">here</a></p>
				
				<button type="submit" class="btn register-btn">Log In</button>
			</form>
		</div>
	</div>
	{% endif %}


	<!-- ==========================================================================================================
                                               FOOTER
    ========================================================================================================== -->

	<footer class="footer-outer">
		<div class="container footer-inner">

			<div class="footer-three-grid wow fadeIn animated" data-wow-delay="0.66s">
				<div>
					<nav class="footer-nav">
						<ul>
							<h1 id="h1-footer"> STACES </h1>
							<p>By using our website, we hope that we helped you. Stay safe, stay healthy, and stay clean!<br>
							If there is any problem, please let we know.</p>
						</ul>
						<ul>
							<div class="social-icons-footer">
								<a target="_blank" href="https://instagram.com/stacesapp/"><i class="fab fa-instagram"></i></a>
								<a target="_blank" href="mailto: stacesapp@gmail.com"><i class="fa fa-envelope"></i></i></a>
							</div>
						</ul>
						<ul>
							<p class="copyright" id="p-copyright">Copyright © 2020. All Rights Reserved</p>
						</ul>
					</nav>
				</div>
			</div>
			<span></span>
			<p class="copyright"></p>
		</div>
	</footer>

</div> <!-- main page wrapper -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<script src="{% static 'js/wow.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>