<!DOCTYPE html>

{% extends "baseHappy.html" %}

    {% block content %}

    {% load static %}
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <a class="d-inline-block">
            <h2>Which anime series are a must-watch?</h2>
         </a>
         <div>
            <p>So, you are a die-hard anime fan? You probably have seen most of the anime series and movies out there, but can you name your top favorite ones?
            We have come up with our ultimate list of the best original anime TV series which you definitely need to watch while in a quarantine. Here we go!</p>
         </div>
         <br></br>
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/MGRm4IzK1SQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Attack On Titan</h2>
                    <p class="excert">
                        It is set in a world where humanity lives within cities surrounded by enormous walls that protect them from gigantic man-eating humanoids referred to as Titans; the story follows Eren Yeager, who vows to retake the world after a Titan brings about the destruction of his home town and the death of his mother.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6ohYYtxfDCg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Sword Art Online</h2>
                    <p class="excert">
                        In 2022, a virtual reality massively multiplayer online role-playing game (VRMMORPG) called Sword Art Online (SAO) is released. With the NerveGear, a helmet that stimulates the user's five senses via their brain, players can experience and control their in-game characters with their minds.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ETHpMMV8rJU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Tokyo Ghoul</h2>
                    <p class="excert">
                        A college student is attacked by a ghoul, a being that feeds on human flesh. He later receives an organ transplant from the ghoul, becoming part monster himself.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/aiZrjeZvF8Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Zankyou No Terror</h2>
                    <p class="excert">
                        Tokyo has been decimated by a terrorist attack, and the only clue to the culprit's identity is a bizarre internet video. While paranoia spreads, two mysterious children form "Sphinx," a clandestine entity determined to pull the trigger on this world.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/WjkiPyDWHME" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Ao Haru Ride</h2>
                    <p class="excert">
                        Futaba Yoshioka is a 16-year-old high school student who attempts to fit in with her female friends by acting "unfeminine", due to a history her female classmates ostracizing her out of jealousy. As a result, she feels her life is uninteresting.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/JOGp2c7-cKc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Haikyuu</h2>
                    <p class="excert">
                        Determined to be like the volleyball championship's star player Shouyou, a short boy nicknamed "the small giant," joins his school's volleyball club. Hinata Shouyou, a short middle school student, gained a sudden love of volleyball after watching a national championship match on TV.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/y2a4QTKWuyo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Your Lie in April</h2>
                    <p class="excert">
                        A piano prodigy is unable to play music after his mother dies, until he meets a violin player.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="comments-area">

                  {% if data.count == 0 %}

                  <h4> No comments yet! </h4>

                  {% else %}

                  <h4> {{ data.count }} Comments </h4>

                  {% for commentdata in data %}

                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="{% static 'happy/imgHappy/tk1/circle.png' %}" alt="">
                           </div>
                           <div class="desc">
                              <p id="p-comment" class="comment">
                                {{ commentdata.content }}
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a style="color:rgb(110, 38, 128); font-size:17px; font-family:'Josefin Sans';">{{ commentdata.author }}       </a>
                                       <a id ="a-delete" href = "{% url 'happy:deleteAnime' delete_id=commentdata.pk %}">
                                          <div class="timeline-badge"><i class="fa fa-trash"></i></div>
                                       </a>
                                    </h5>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
                  {% endif %}

               </div>


               <div class="comment-form">
                  <h4>Leave a comment</h4>
                  <form class="form-contact comment_form" action="#" method="post" id="commentForm">
                  {% csrf_token %}
                     <div class="row form-group">
                        <div class="col-12">
                           {{ form.content }}
                        </div>
                     </div>

                     <div class="row form-group">
                        <div class="col-sm-6">
                           {{ form.author }}
                        </div>

                        <div class="col-sm-6">
                           {{ form.email }}
                        </div>
                     </div>

                     <div class="form-group">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                     </div>
                  </form>
               </div>
            </div>
{% endblock %}   
