<!doctype html>

{% extends "navbarHappy.html" %}

{% block head %}
<html class="no-js" lang="zxx">

{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abril+Fatface"/>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Happy Space </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

<!-- CSS here -->
    <link rel="stylesheet" href="{% static 'happy/cssHappy/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'happy/cssHappy/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'happy/cssHappy/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'happy/cssHappy/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'happy/cssHappy/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'happy/cssHappy/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'happy/cssHappy/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'happy/cssHappy/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'happy/cssHappy/slick.css' %}">
    <link rel="stylesheet" href="{% static 'happy/cssHappy/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'happy/cssHappy/styleHappy.css' %}">
    <link rel="stylesheet" href="{% static 'happy/cssHappy/responsive.css' %}">  
</head>

<body>

<!-- Preloader Start -->
    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'happy/imgHappy/tk1/happy.png' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap">
                            <h2>Happy Space!</h2>
                            <br></br>
                            <p>This is a relaxing space to clear your mind after went through the day.<br>
                            There will be various categories of entertainment that you can do at home.<br>
                            The categories are music, movies, and games. Each category will be presented<br>
                            with articles containing recommendations along with a brief description.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

{% block content %}
{% endblock %}
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Category</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="{% url 'happy:home' %}" class="d-flex">
                                        <p>What to do?</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'happy:watch' %}" class="d-flex">
                                        <p>What to watch?</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'happy:music' %}" class="d-flex">
                                        <p>Music</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'happy:games' %}" class="d-flex">
                                        <p>Games</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget search_widget">
                            <a class="d-flex">
                                <p>What is your interest?</p>
                            </a>
                            <form action="{% url 'happy:searchKeyword' %}" method="GET">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input id="search_keyword" name="search_keyword" type="text" class="form-control" placeholder='Search Keyword'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button class="btns" type="button"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Search</button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'happy/jsHappy/vendor/modernizr-3.5.0.min.js' %}"></script>
		<!-- Jquery, Popper, Bootstrap -->
        <script src="{% static 'happy/jsHappy/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'happy/jsHappy/popper.min.js' %}"></script>
        <script src="{% static 'happy/jsHappy/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'happy/jsHappy/jquery.slicknav.min.js' %}"></script>
		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'happy/jsHappy/owl.carousel.min.js' %}"></script>
        <script src="{% static 'happy/jsHappy/slick.min.js' %}"></script>
        <!-- Date Picker -->
        <script src="{% static 'happy/jsHappy/gijgo.min.js' %}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'happy/jsHappy/wow.min.js' %}"></script>
        <script src="{% static 'happy/jsHappy/animated.headline.js' %}"></script>		
		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'happy/jsHappy/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'happy/jsHappy/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'happy/jsHappy/jquery.sticky.js' %}"></script>
        <script src="{% static 'happy/jsHappy/jquery.magnific-popup.js' %}"></script>
        <!-- contact js -->
        <script src="{% static 'happy/jsHappy/contact.js' %}"></script>
        <script src="{% static 'happy/jsHappy/jquery.form.js' %}"></script>
        <script src="{% static 'happy/jsHappy/jquery.validate.min.js' %}"></script>
        <script src="{% static 'happy/jsHappy/mail-script.js' %}"></script>
        <script src="{% static 'happy/jsHappy/jquery.ajaxchimp.min.js' %}"></script> 
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'happy/jsHappy/plugins.js' %}"></script>
        <script src="{% static 'happy/jsHappy/main.js' %}"></script>
</body>
</html>

{% endblock %}