<!DOCTYPE html>

{% extends "baseHappy.html" %}

    {% block content %}

    {% load static %}
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
        <a class="d-inline-block">
            <h2>Games to Play During Quarantine</h2>
         </a>
        <div>
         <p>While we’re not exactly sure how long the COVID-19 period will last, many companies and studios have 
         risen to the task of providing some quality entertainment and all-around good vibes to help the world cope
         with the current circumstances. Games have no doubt been at the forefront of this crusade, be it video games 
         or straight up digital board games, as their interactive nature makes for some much-needed proactive connection 
         in a time where many are forced to literally sit on their touches and wait for the pandemic to subside. As such, 
         we’ve put together a lists of some of the games that many will no doubt have a blast with, in the comfort 
         of their own homes, be it with friends or family</p>
         </div>
        <br></br>
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                    <img class="img-fluid" src="{% static 'happy/imgHappy/tk1/card.jpg' %}" alt="">
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Card Games</h2>
                    <p class="excert">
                        Card games are a bit harder to play using video chat, but the good thing is they are very flexible, and practically everyone has a deck. So no matter how many people are quarantined together, games such as Go Fish, War, Slapjack and more can still be played. In the spirit of social distancing, Solitaire can be played.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <img class="img-fluid" src="{% static 'happy/imgHappy/tk1/chess.jpeg' %}" alt="">
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Chess</h2>
                    <p class="excert">
                        There are a variety of websites and apps for playing chess. If both players have chess sets, it’s fun to set up each board separately and play over Zoom. When someone makes a move, just make sure the piece is also moved to the same space on the opponent’s board.  This strategy can also work for a variety of other board games as long as everyone involved has the game.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <img class="img-fluid" src="{% static 'happy/imgHappy/tk1/tod.jpg' %}" alt="">
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Conversation Games</h2>
                    <p class="excert">
                        Games like Would You Rather, Never Have I Ever, Truth or Dare, or Two Truths And A Lie work well in person or on videochat, mainly because they don’t require equipment and are mostly played verbally. Despite requiring little technology, they can still entertain a group for quite a while.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <img class="img-fluid" src="{% static 'happy/imgHappy/tk1/games1.jpg' %}" alt="">
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Scrabble</h2>
                    <p class="excert">
                        For those who love English, Scrabble is the perfect way to show off obscure word knowledge and spelling ability. Words With Friends is the app equivalent of Scrabble. It can be downloaded and played with a group while on a video call.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <img class="img-fluid" src="{% static 'happy/imgHappy/tk1/pictionary.jpg' %}" alt="">
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Pictionary</h2>
                    <p class="excert">
                       It’s pretty easy to play Pictionary over Zoom by using the whiteboard feature and an online random word generator. As an added bonus, funny drawings can be screenshotted and saved. It’s also fun to play in person if enough people are quarantining together.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                    <a class="d-inline-block" href="https://thebrownandwhite.com/2020/04/27/lehigh-games-to-play-during-quarantine/">
                        <p>Click reference here for more!</p>
                    </a>
                    <br></br>
               </div>

               <div class="comments-area">

                  {% if data.count == 0 %}

                  <h4> No comments yet! </h4>

                  {% else %}

                  <h4> {{ data.count }} Comments </h4>

                  {% for commentdata in data %}

                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="{% static 'happy/imgHappy/tk1/circle.png' %}" alt="">
                           </div>
                           <div class="desc">
                              <p id="p-comment" class="comment">
                                {{ commentdata.content }}
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a style="color:rgb(110, 38, 128); font-size:17px; font-family:'Josefin Sans';">{{ commentdata.author }}       </a>
                                       <a id = "a-delete" href = "{% url 'happy:deleteGames1' delete_id=commentdata.pk %}">
                                          <div class="timeline-badge"><i class="fa fa-trash"></i></div>
                                       </a>
                                    </h5>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
                  {% endif %}

               </div>


               <div class="comment-form">
                  <h4>Leave a comment</h4>
                  <form class="form-contact comment_form" action="#" method="post" id="commentForm">
                  {% csrf_token %}
                     <div class="row form-group">
                        <div class="col-12">
                           {{ form.content }}
                        </div>
                     </div>

                     <div class="row form-group">
                        <div class="col-sm-6">
                           {{ form.author }}
                        </div>

                        <div class="col-sm-6">
                           {{ form.email }}
                        </div>
                     </div>

                     <div class="form-group">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                     </div>
                  </form>
               </div>
            </div>
{% endblock %}   
