<!DOCTYPE html>

{% extends "baseHappy.html" %}

    {% block content %}

    {% load static %}
    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
        <a class="d-inline-block">
            <h2 id="h2-blog">What to do in quarantine?</h2>
        </a>
        <div>
        <p>Did the coronavirus force you to stay home? 
        It's been more than 6 months since the coronavirus pandemic upended daily life. 
        In those long days indoors, many of us have spent vast amounts of time entertaining ourselves at home, 
        which means we're watching more TV series, streaming more movies, blasting more music and playing more games. 
        So here, we collected a pack of suggestions to help you throws up your boredom!
        Check it out!</p>
        </div>
        <br></br>
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{% static 'happy/imgHappy/tk1/1.png' %}" alt="">
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url 'happy:watch' %}">
                                    <h2 id="h2-blog">1. Binge watch film or series</h2>
                                </a>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{% static 'happy/imgHappy/tk1/2.png' %}" alt="">
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url 'happy:music' %}">
                                    <h2 id="h2-blog">2. Listen to music and podcasts</h2>
                                </a>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{% static 'happy/imgHappy/tk1/3.png' %}" alt="">
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url 'happy:games' %}">
                                    <h2 id="h2-blog">3. Play Games</h2>
                                </a>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <iframe width="768" height="450" src="https://www.youtube.com/embed/XAUiT8Md7rY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block">
                                    <h2 id="h2-blog">Video Recommendation</h2>
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
{% endblock %}