<!DOCTYPE html>

{% extends "baseHappy.html" %}

    {% block content %}

    {% load static %}
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <a class="d-inline-block">
            <h2>5 Korean Dramas That'll Keep You Entertained While You're Social Distancing</h2>
         </a>
         <div>
            <p>It’s true 2020 has sucked hard but fortunately, the Korean dramas have been of a higher caliber. 
            We’ve been treated to a dazzling array of Korean stories from comedies & romances, to thrillers & fantasies.
            Let’s take a moment to be thankful for the dozens of hours of quarantine lethargy K-dramas have rescued us from
            and let’s hope there’s more where that came from! Take a look at this list of the 5 Korean Dramas That'll Keep You Entertained While You're Social Distancing</p>
         </div>
        <br></br>

         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="584" height="329" src="https://www.youtube.com/embed/50ek4HQo0Bc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Its Okay to Not be Okay</h2>
                    <p class="excert">
                        Famous children’s book author Ko Moon Young meets Moon Gang Tae, a caretaker at a psychiatric ward, when she comes to his hospital to read to sick children. Gang Tae’s brother, Sang Tae, is autistic and a big fan of Moon Young, who is known to be moody and difficult due to her antisocial personality disorder. After a prickly first encounter, the two discover they are deeply connected by their tragic backstories and intertwining pasts.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="584" height="329" src="https://www.youtube.com/embed/GVQGWgeVc4k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Crash Landing On You</h2>
                    <p class="excert">
                        Captain Ri Jeong Hyeok, the handsome but stoic North Korean soldier who finds Se-ri and (surprise!) falls in love with her. With plenty of twists, turns, and rom-com tropes, writer Park Ji-eun weaves a compelling story of star-crossed lovers, backed by Bin and Ye-Jin’s powerful chemistry and a charming supporting cast. The drama became a global hit and is currently the second-highest rated show in Korean cable TV history.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="584" height="329" src="https://www.youtube.com/embed/rPJSo4fhtRU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Mr. Sunshine</h2>
                    <p class="excert">
                        In this period drama, Eugene Choi escapes to the U.S. after being born into slavery during the Joseon Period (the final dynasty before Korea’s annex from Japan) and goes on to become a Marine. Choi returns to Joseon on a mission and meets Go Ae-shin, an aristocratic woman secretly fighting for Korea’s independence. Choi and Ae-shin fall in love and must overcome their differences in status, Ae-shin’s arranged marriage to nobleman Kim Hee-Sung, and the Empire of Japan’s plot to colonize Korea.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="584" height="329" src="https://www.youtube.com/embed/xqIM2cenBAs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Hospital Playlist</h2>
                    <p class="excert">
                        Drawing comparisons to Grey’s Anatomy and Friends, Hospital Playlist follows five doctors—friends since medical school—as they navigate life and death at Yulje Medical Center. The drama became one of the highest-rated on Korean cable TV in 2020 with a second season is due in 2021, giving you plenty of time to catch up.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="584" height="329" src="https://www.youtube.com/embed/c-EMf3JdxUA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Reply 1988</h2>
                    <p class="excert">
                        Reply 1988 centers around the culture of Korea in the year 1988—the Seoul Olympics are a major plot point—and follows five high school friends living in a small town. Their coming-of-age story includes crushes and romance, getting into college, and a whole lot of '80s nostalgia.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                    <a class="d-inline-block" href="https://www.elle.com/culture/movies-tv/g34110694/best-korean-dramas-on-netflix/">
                        <p>Click reference here for more!</p>
                    </a>
                    <br></br>
               </div>

               <div class="comments-area">

                  {% if data.count == 0 %}

                  <h4> No comments yet! </h4>

                  {% else %}

                  <h4> {{ data.count }} Comments </h4>

                  {% for commentdata in data %}

                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="{% static 'happy/imgHappy/tk1/circle.png' %}" alt="">
                           </div>
                           <div class="desc">
                              <p  id="p-comment" class="comment">
                                {{ commentdata.content }}
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a style="color:rgb(110, 38, 128); font-size:17px; font-family:'Josefin Sans';">{{ commentdata.author }}       </a>
                                       <a id = "a-delete" href = "{% url 'happy:deleteKdrama' delete_id=commentdata.pk %}">
                                          <div class="timeline-badge"><i class="fa fa-trash"></i></div>
                                       </a>
                                    </h5>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
                  {% endif %}

               </div>


               <div class="comment-form">
                  <h4>Leave a comment</h4>
                  <form class="form-contact comment_form" action="#" method="post" id="commentForm">
                  {% csrf_token %}
                     <div class="row form-group">
                        <div class="col-12">
                           {{ form.content }}
                        </div>
                     </div>

                     <div class="row form-group">
                        <div class="col-sm-6">
                           {{ form.author }}
                        </div>

                        <div class="col-sm-6">
                           {{ form.email }}
                        </div>
                     </div>

                     <div class="form-group">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                     </div>
                  </form>
               </div>
            </div>
{% endblock %}   
