<!DOCTYPE html>

{% extends "baseHappy.html" %}

    {% block content %}

    {% load static %}
    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
        <a class="d-inline-block">
            <h2 id="h2-blog">What to hear in quarantine?</h2>
        </a>
        <br></br>
        <br></br>
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{% static 'happy/imgHappy/tk1/tiktok.jpg' %}" alt="">
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url 'happy:tiktok' %}">
                                    <h2 id="h2-blog">The Most Popular Viral TikTok Hits Of 2020 So Far</h2>
                                </a>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{% static 'happy/imgHappy/tk1/kpop.png' %}" alt="">
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url 'happy:kpop' %}">
                                    <h2 id="h2-blog">The Best K-Pop Comebacks in 2020 So Far</h2>
                                </a>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{% static 'happy/imgHappy/tk1/podcast.jpg' %}" alt="">
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url 'happy:podcast' %}">
                                    <h2 id="h2-blog">Recommendation of Indonesian Podcasts</h2>
                                </a>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <iframe width="768" height="450" src="https://www.youtube.com/embed/rA56B4JyTgI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                            
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block">
                                    <h2 id="h2-blog">chill beats to quarantine to</h2>
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
{% endblock %}