<!DOCTYPE html>

{% extends "baseHappy.html" %}

    {% block content %}

    {% load static %}
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <a class="d-inline-block">
            <h2>The 10 Best Romantic Movies of All Time</h2>
         </a>
         <div>
            <p>The sign of a good romantic movie is if it can move even the 
            most steely hearted grump in some way. A romance should have you 
            crying into a box of tissues, get you hot under the collar, make 
            you laugh and leave your heart feeling full. After all, life is 
            better when there’s love in the air. Because of the quarantine, 
            maybe you miss a romantic atmosphere, some missed their lover, 
            to solve that, watching romantic movies is the answer! For those 
            of you who like romantic dramas to accompany your qurantine days, 
            this page is perfect for you! </p>
         </div>
         <br></br>
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/nSbzyEJ8X9E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">1. A Star Is Born (2018)</h2>
                    <p class="excert">
                        If you're looking for a story about people brought together by talent and torn apart by fame, you can watch a number of takes on A Star Is Born: There's the 1937 original with Janet Gaynor and Fredric March, the 1954 version with Judy Garland and James Mason, and the 1976 remake with Barbra Streisand and Kris Kristofferson. But only the most recent one, with Lady Gaga and Bradley Cooper, has a performance of the heart-rending song "Shallow."
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Z9AYPxH5NTM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">2. Call Me By Your Name (2017)</h2>
                    <p class="excert">
                        First love is often the most intense, for better or for worse, and Call Me By Your Name captures all of those roiling emotions. Based on the book by André Aciman, it follows the young son of academics who, while on summer break in Italy, falls hard for one of his dad's grad students.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/PcL24s-S6ns" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">3. The Vow (2012)</h2>
                    <p class="excert">
                        What do you do when the love of your life forgets who you are entirely? This movie is based on the amazing true story of real-life couple Kim and Krickett Carpenter; after a tragic car accident, she loses her memory, and he has to find a way to make her fall in love with him all over again.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6MUcuqbGTxc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">4. Before Sunrise (1995)</h2>
                    <p class="excert">
                        A French student (Julie Delpy) and an American wanderer (Ethan Hawke) meet on a train, and spend an enchanted day roaming around Vienna until their other obligations pierce the bubble they've created. This simple plot summary hardly touches the magic of this film, which builds connection the way it's built in real life: Through conversation and an ineffable spark. BRB, booking one of these scenic train routes because... you never know. For the full effect, watch the entire trilogy, which tracks Jesse and Celine over the years.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/yDJIcYE32NU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">5. The Notebook (2004)</h2>
                    <p class="excert">
                        Noah Calhoun (Ryan Gosling) and Allie (Rachel McAdams) are obviously meant to be—but Allie's strict mother disapproves. Her actions send their summer love reeling off course. But love finds a way back in this iconic Nicholas Sparks adaptation.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/T7A810duHvw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">6. About Time (2013)</h2>
                    <p class="excert">
                        The film, in particular, is well-rounded in its exploration of life and family in addition to Tim and Mary’s love story. In a way, their relationship almost takes a back seat during the second half of the film, but for this story that’s not at all a bad thing. Showing their growth as partners throughout their marriage, dealing with the practicalities of day-to-day life, almost heightens their romance because it portrays everything after meet-cute, something you don’t always get to see in romance films. (Natalie Mokry)
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/kVrqfYjkTdQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">7. Titanic (1997)</h2>
                    <p class="excert">
                        Titanic has all the makings of a boilerplate love story: Jack (Leonardo DiCaprio) is from the wrong side of the tracks, Rose (Kate Winslet) comes from high society, and they meet by chance and fall in love. But set against the spectacle of the sinking of the historic ship — and with greatest-love-song-of-all-time contender "My Heart Will Go On" in the background — like Jack, this movie moves beyond its seemingly plain origins.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/PsD0NpFSADM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">8. 500 Days of Summer (2009)</h2>
                    <p class="excert">
                        Have you ever wanted to love someone so much, and make something work so hard that you often overlooked signs that were there from the start? 500 Days of Summer captures young love and the unexpectedness of life in its full glory. Yes, 500 Days of Summer is not the happiest of stories, but it captures what a fizzled out romance is all about. The honeymoon phase, the rough patch, the breakup, and then moving on. Everyone suffers heartbreak, but the love of friends and family can get you back up in the darkest of times. Remember there is always autumn waiting around the corner, so don’t get hung up on a summer fling. (Carl Broughton)
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/yEmcEuS6xm4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">9. 10 Things I Hate About You (1999) </h2>
                    <p class="excert">
                        Kat Stratford (Julia Stiles) is beautiful, smart and quite abrasive to most of her fellow teens, meaning that she doesn't attract many boys. Unfortunately for her younger sister, Bianca (Larisa Oleynik), house rules say that she can't date until Kat has a boyfriend, so strings are pulled to set the dour damsel up for a romance. Soon Kat crosses paths with handsome new arrival Patrick Verona (Heath Ledger). Will Kat let her guard down enough to fall for the effortlessly charming Patrick?
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZQ-YX-5bAs0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">10. Crazy Rich Asians</h2>
                    <p class="excert">
                        Constance Wu shines as Rachel Chu, a woman caught out of her depth when she journeys to her boyfriend Nick’s (Henry Golding) childhood home of Singapore and becomes involved in the tangled web of relationships that is his family. At the center is mama spider Eleanor (Michelle Yeoh), whose values dissonance with Rachel drives a film that addresses relationship struggles across the board, from fragile and insecure masculinity to Eastern vs. Western family values to relationships with in-laws. 
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="comments-area">

                  {% if data.count == 0 %}

                  <h4> No comments yet! </h4>

                  {% else %}

                  <h4> {{ data.count }} Comments </h4>

                  {% for commentdata in data %}

                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="{% static 'happy/imgHappy/tk1/circle.png' %}" alt="">
                           </div>
                           <div class="desc">
                              <p id="p-comment" class="comment">
                                {{ commentdata.content }}
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a style="color:rgb(110, 38, 128); font-size:17px; font-family:'Josefin Sans';">{{ commentdata.author }}       </a>
                                       <a id = "a-delete" href = "{% url 'happy:deleteRomantic' delete_id=commentdata.pk %}">
                                          <div class="timeline-badge"><i class="fa fa-trash"></i></div>
                                       </a>
                                    </h5>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
                  {% endif %}

               </div>


               <div class="comment-form">
                  <h4>Leave a comment</h4>
                  <form class="form-contact comment_form" action="#" method="post" id="commentForm">
                  {% csrf_token %}
                     <div class="row form-group">
                        <div class="col-12">
                           {{ form.content }}
                        </div>
                     </div>

                     <div class="row form-group">
                        <div class="col-sm-6">
                           {{ form.author }}
                        </div>

                        <div class="col-sm-6">
                           {{ form.email }}
                        </div>
                     </div>

                     <div class="form-group">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                     </div>
                  </form>
               </div>
            </div>
{% endblock %}   
