<!DOCTYPE html>

{% extends "baseHappy.html" %}

    {% block content %}

    {% load static %}
    <!--================Blog Area =================-->

    {% if list.count == 0 %}
    <section class="blog_area section-padding">
        <div class="container">
        <a class="d-inline-block">
            <h2 id="h2-blog">Sorry, there's no result for you :(</h2>
        </a>
        <br></br>
        <br></br>
    
    {% else %}
    <section class="blog_area section-padding">
        <div class="container">
        <a class="d-inline-block">
            <h2 id="h2-blog">Here is the result of your interest</h2>
        </a>
        <br></br>
        <br></br>
            {% for data in list %}
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{% static 'happy/imgHappy/tk1/' %}{{data.foto}}" alt="">
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url 'happy:detail' detail_id=data.name %}">
                                    <h2 id="h2-blog">{{ data.title }}</h2>
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            {% endfor %}
    {% endif %}
{% endblock %}