<!DOCTYPE html>

{% extends "baseHappy.html" %}

    {% block content %}

    {% load static %}
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <a class="d-inline-block">
            <h2>The Most Popular Viral TikTok Hits Of 2020 So Far</h2>
         </a>
         <div>
            <p>Another year, another round of musical memes made viral by TikTok.
               Just like we saw in 2019, the app has been full of music clips that are stuck in everyone's heads, even if they weren't mainstream hits.
               This is a running list of some of the music that has blown up on TikTok in 2020. Scroll to the end to find a more comprehensive Spotify playlist of 2020 TikTok hits! </p>
         </div>
         <br></br>
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="632" height="354" src="https://www.youtube.com/embed/RsW66teC0BQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">1. "Boss Bitch" by Doja Cat</h2>
                    <p class="excert">
                        The actual song: Doja Cat could honestly take up every spot on this list because everything she puts out tends to go viral on TikTok. Her song "Say So," for example, sparked a whole viral dance trend that then appeared in the official music video. "Boss Bitch" is less obviously a Doja Cat track, but also went super viral.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="632" height="354" src="https://www.youtube.com/embed/gF8rsUYENgc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">2. "Lottery'" by K CAMP</h2>
                    <p class="excert">
                        There perhaps hasn't been a TikTok dance as viral or as controversial as the Renegade, set to this song. It was originally created by an Atlanta teen named Jalaiah Harmon and then re-enacted by seemingly everyone, often without credit. In her honor, below is the Instagram post that started it all.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="632" height="354" src="https://www.youtube.com/embed/16YnOUnbE6s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">3. "ROXANNE'" by Arizona Zervas</h2>
                    <p class="excert">
                        What do you do when the love of your life forgets who you are entirely? This movie is based on the amazing true story of real-life couple Kim and Krickett Carpenter; after a tragic car accident, she loses her memory, and he has to find a way to make her fall in love with him all over again.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                   <iframe width="632" height="354" src="https://www.youtube.com/embed/R55JUpfyPeg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">4. "Renee" by SALES</h2>
                    <p class="excert">
                        A French student (Julie Delpy) and an American wanderer (Ethan Hawke) meet on a train, and spend an enchanted day roaming around Vienna until their other obligations pierce the bubble they've created. This simple plot summary hardly touches the magic of this film, which builds connection the way it's built in real life: Through conversation and an ineffable spark. BRB, booking one of these scenic train routes because... you never know. For the full effect, watch the entire trilogy, which tracks Jesse and Celine over the years.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="632" height="354" src="https://www.youtube.com/embed/EOxj2ROIxok" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">5. "Savage" by Megan Thee Stallion</h2>
                    <p class="excert">
                        Noah Calhoun (Ryan Gosling) and Allie (Rachel McAdams) are obviously meant to be—but Allie's strict mother disapproves. Her actions send their summer love reeling off course. But love finds a way back in this iconic Nicholas Sparks adaptation.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="632" height="354" src="https://www.youtube.com/embed/Mbj26vHDMII" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">6. "Backyard Boy'" by Claire Rosinkranz</h2>
                    <p class="excert">
                        The actual song: Rosinkranz uploaded her audio to TikTok and June and didn't even know it had gone viral on TikTok until friends told her.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="632" height="354" src="https://www.youtube.com/embed/FSjvlnneEto" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">7. "M to the B" by Millie B</h2>
                    <p class="excert">
                        The actual song: This whole thing stems back to 2016 and is sort of a UK legend. Millie B released this song about her grime music nemesis, Sophie Aspin, and the two traded diss tracks back and forth for a bit before eventually collaborating together.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="632" height="354" src="https://www.youtube.com/embed/Rb6Scz-5YOs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">8. "Supalonely" by BENEE feat. Gus Dapperton</h2>
                    <p class="excert">
                        Have you ever wanted to love someone so much, and make something work so hard that you often overlooked signs that were there from the start? 500 Days of Summer captures young love and the unexpectedness of life in its full glory. Yes, 500 Days of Summer is not the happiest of stories, but it captures what a fizzled out romance is all about. The honeymoon phase, the rough patch, the breakup, and then moving on. Everyone suffers heartbreak, but the love of friends and family can get you back up in the darkest of times. Remember there is always autumn waiting around the corner, so don’t get hung up on a summer fling. (Carl Broughton)
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="632" height="354" src="https://www.youtube.com/embed/Qgduhk26sIw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">9. "Stunnin'" by Curtis Waters feat. Harm Franklin</h2>
                    <p class="excert">
                        Kat Stratford (Julia Stiles) is beautiful, smart and quite abrasive to most of her fellow teens, meaning that she doesn't attract many boys. Unfortunately for her younger sister, Bianca (Larisa Oleynik), house rules say that she can't date until Kat has a boyfriend, so strings are pulled to set the dour damsel up for a romance. Soon Kat crosses paths with handsome new arrival Patrick Verona (Heath Ledger). Will Kat let her guard down enough to fall for the effortlessly charming Patrick?
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="632" height="354" src="https://www.youtube.com/embed/UBJ-j6Mcbzw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">10. "Lets Link" by WhoHeem</h2>
                    <p class="excert">
                        As the lyrics would suggest, this is the perfect sound for when you're crushing on someone already in a relationship.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                    <a class="d-inline-block" href="https://www.buzzfeednews.com/article/laurenstrapagiel/most-viral-tiktok-songs-of-2020">
                        <p>Click reference here for more!</p>
                    </a>
                    <br></br>
               </div>

               <div class="comments-area">

                  {% if data.count == 0 %}

                  <h4> No comments yet! </h4>

                  {% else %}

                  <h4> {{ data.count }} Comments </h4>

                  {% for commentdata in data %}

                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="{% static 'happy/imgHappy/tk1/circle.png' %}" alt="">
                           </div>
                           <div class="desc">
                              <p id="p-comment" class="comment">
                                {{ commentdata.content }}
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a style="color:rgb(110, 38, 128); font-size:17px; font-family:'Josefin Sans';">{{ commentdata.author }}       </a>
                                       <a id = "a-delete" href = "{% url 'happy:deleteTiktok' delete_id=commentdata.pk %}">
                                          <div class="timeline-badge"><i class="fa fa-trash"></i></div>
                                       </a>
                                    </h5>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
                  {% endif %}

               </div>


               <div class="comment-form">
                  <h4>Leave a comment</h4>
                  <form class="form-contact comment_form" action="#" method="post" id="commentForm">
                  {% csrf_token %}
                     <div class="row form-group">
                        <div class="col-12">
                           {{ form.content }}
                        </div>
                     </div>

                     <div class="row form-group">
                        <div class="col-sm-6">
                           {{ form.author }}
                        </div>

                        <div class="col-sm-6">
                           {{ form.email }}
                        </div>
                     </div>

                     <div class="form-group">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                     </div>
                  </form>
               </div>
            </div>
{% endblock %}   
