<!DOCTYPE html>

{% extends "baseHappy.html" %}

    {% block content %}

    {% load static %}
    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
        <a class="d-inline-block">
            <h2 id="h2-blog">What to watch in quarantine?</h2>
        </a>
        <br></br>
        <br></br>
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{% static 'happy/imgHappy/tk1/netflix.png' %}" alt="">
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url 'happy:netflix' %}">
                                    <h2 id="h2-blog">Top 10 Netflix series to watch in 2020</h2>
                                </a>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{% static 'happy/imgHappy/tk1/drakor.png' %}" alt="">
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url 'happy:kdrama' %}">
                                    <h2 id="h2-blog">5 Korean Dramas That'll Keep You Entertained While You're Social Distancing</h2>
                                </a>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{% static 'happy/imgHappy/tk1/romance.png' %}" alt="">
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url 'happy:romantic' %}">
                                    <h2 id="h2-blog">The 10 Best Romantic Movies of All Time</h2>
                                </a>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{% static 'happy/imgHappy/tk1/sao.jpg' %}" alt="">
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url 'happy:anime' %}">
                                    <h2 id="h2-blog">Which anime series are a must-watch?</h2>
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
{% endblock %}