{% extends 'main/navbar.html' %}
{% load static %}

{% block meta %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/foryou.css' %}">
<title>Read Messages</title>

{% endblock meta %}

{% block content %}
<div class="container" id="header">
    <p id="headLeft3">
      Read Messages
    </p>
</div>

<div class="slideshow-container">

    {% if messages %}

    {% for m in messages %}

    <div class="mySlides1">
        <p id="nama"> 
            <span id="ava">
                {{ m.awal }}
            </span>
            {{ m.name }} 
        </p>
        <hr>
        <p id="pesan"> {{ m.message }} </p>
        <div style="position: absolute;">
            <i onClick="updateClickCount( '{{ m.id }}' ); toggle('{{ m.id }}')" class="fa fa-heart-o"> </i>
            <i onClick="updateClickCount( '{{ m.id }}' );" class="fa fa-heart"> </i>
            <div class="myCount">
                0
            </div>
        </div>
        <a href="{% url 'foryou:send' %}">
            <button type="button" class="btn btn-danger" id="addButton">
                +
            </button>
        </a>
    </div>

    <a class="prev" onclick="plusSlides()">&#10094;</a>
    <a class="next" onclick="plusSlides()">&#10095;</a>
    {% endfor %}
    {% else %}
        <p id="oops">
            Oopsiee :(
        </p>
        <a href="{% url 'foryou:send' %}">
            <button type="button" class="btn btn-danger" id="addButton">
                +
            </button>
        </a>
    {% endif %}

</div>

<script src="{% static 'js/foryou.js' %}"></script>


{% endblock content %}
