{% extends 'main/navbar.html' %}
{% load static %}

{% block meta %}

<link rel="stylesheet" href="{% static 'css/foryou.css' %}">
<title>Send Messages</title>

{% endblock meta %}

{% block content %}

<div class="container" id="header">
    <p id="headLeft3">
      Send Messages
    </p>
</div>

<div class="container" id="boxForm">
  <form action="save" method="POST">
    <h6 id="textSend">
      Name / Initial
    </h6>

    <p id="textHolder">
      {% csrf_token %}
      {{form.name}}
    </p>

    <p id="textSend">
      Messages
    </p>

    <p id="textHolder">
      {% csrf_token %}
      {{form.message}}
    </p>

    <p>
      <a href="{% url 'foryou:read' %}">
        <button type="button" class="btn btn-danger">
          <p class="sendButton">
            BACK
          </p>
        </button>
      </a>
      
      <button type="submit" class="btn btn-danger" id="buttonSend">
        <p class="sendButton">
          SEND
        </p>
      </button>
      
      {% if success %}
      <button type="button" class="btn btn-light" id="submitted">
        submitted!
      </button>
      {% endif %}
      
    </p>

  </form>
</div>

{% endblock content %}
