@media(min-width:768px) {

    .study-section-title{
        font-size: 80px;
    }

    .study-subsection-title{
        font-size: 40px;
    }

    p .study-section-desc{
        font-size: 14px;
    }

    .study-space-desc {
        padding-right: 380px;
    }

    .study-container {
        padding-bottom: 50px;
    }
    .study-container-2 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        padding-bottom: 50px;
    }

    .study-box-1 img, .study-box-2 img{
        width: 90%;
        height: 90%;
    }

    .study-box-1 a img:hover, .study-box-2 a img:hover{
        width: 88%;
        height: 88%;
    }

    .study-source-title {
        font-size: 35px;
    }

    .spe {
        margin-left: -20px;
    }

}

@media(max-width:768px) {
    .study-section-title{
        font-size: 45px;
    }

    .study-subsection-title{
        font-size: 30px;
    }

    .study-container {
        padding-bottom: 15px;
    }

    .study-box-1 img, .study-box-2 img{
        width: 95%;
        height: 95%;
    }

    .study-box-1 a img:hover, .study-box-2 a img:hover{
        width: 93%;
        height: 93%;
    }

    .study-box-2 {
        margin-bottom: 50px;
    }

    .study-source-title {
        font-size: 30px;
    }
}

#fh5co-hero-wrapper-study {
    width: 100%;
    height: 600px;
    background: url("../img/study-bg.png") no-repeat center;
    background-position: center;
    background-size: cover;
}

#fh5co-hero-wrapper-study-2 {
    width: 100%;
    height: 400px;
    background: #102542;
    background-position: center;
    background-size: cover;
}

.study-section-title{
    font-family: Abril Fatface;
    color: white;
    margin-top: 110px;
}

.study-subsection-title{
    /* text-align: center; */
    padding: 50px 0;
    font-family: Abril Fatface;
    color: #102542;
}

.study-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.study-box-1 {
    flex: 1;
}

.study-box-1 a img:hover{
    transition: 0.25s;
}

.study-site a:hover {
    text-decoration: none;
}

.study-source-title {
    font-family: "Josefin Sans";
    /* font-size: 35px; */
    font-weight: 600;
}

.study-form {
    color: #102542;
}

.submit-button-learning {
    font-family: Josefin Sans;
    font-weight: bold;
    background-color: #B3A394;
    color: white;
    margin-left: -5px;
    margin-right: 10px;
    /* margin-bottom: 5px; */
}

.submit-button-learning:hover {
    background-color: #102542;
    color: white;
}

.button-learning {
    font-family: Josefin Sans;
    font-size: 12px;
    background-color: #102542;
    color: white;
    margin-bottom: 5px;
    line-height: 2px;
}

.button-learning:hover {
    background-color: #F87060;
    color: white;
}
