{% extends 'main/todo.html' %}

{% block task-title %}
      <h1 class="task-title">Group Tasks for You!</h1>
      <a href="{% url 'todo:index' %}">
            <div class="home-btn"><i class="fa fa-home"></i></div>
      </a>
{% endblock %}