{% extends 'main/navfoot-todo.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/todo.css' %}">
{% endblock %}

{% block meta %}
<title>TO DO - Main Page</title>
{% endblock meta %}

{% block desc %}
<div class="d-sm-flex flex-sm-row flex-row animated fadeIn wow container todo-desc">
  <div class="d-flex flex-column p-3">
    <div class="todo-section-title">TO DO</div>
    <div class="todo-section-desc" style="font-family: Josefin Sans; font-size: 17px;">
      You can easily manage your tasks here. 
      These tasks will be divided into two categories, such as group tasks and personal tasks. 
      Not only that, the tasks will be sorted based on the closest deadline, both day and time. 
      For previous tasks that you have done, there will be a delete button or simply a mark for the completed tasks.
    </div>
  </div>
  <div class="p-2">
    <img class="todo-logo" src="{% static 'img/todo-logo.png' %}" alt="todo-logo">
  </div>
</div>
{% endblock %}

{% block content %}
<div class="animated fadeIn wow container content">

  {% if user.is_authenticated %}

  <div class="d-flex flex-column">
    <div class="d-flex flex-row justify-content-between">
      <div class="btn-group dropright">
        <button type="button" class="btn task-categories dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Task Category 
        </button>
     
        <div class="dropdown-menu">
          <a class="dropdown-item task-category" href="{% url 'todo:personalTask' %}">Personal Tasks</a>
          <a class="dropdown-item task-category" href="{% url 'todo:groupTask' %}">Group Tasks</a>
        </div>
      
      </div>

  </div>

    <div class="d-flex flex-row justify-content-between">
      {% block task-title %}
      <h1 class="task-title">Tasks for You!</h1>
      
      <a href="{% url 'todo:addTask' %}">
        <div class="add-button">+</div>
      </a>
      {% endblock %}
    </div>
  </div>

  {% if allTask.count != 0 %}
  {% for task in allTask %}
  <div class="d-flex flex-column task-detail">
    <div class="d-flex flex-row justify-content-between">
      <div class="task-name">{{task.title}}</div>
      <div class="task-datetime">{{task.time}}</div>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <div class="task-description">{{task.description}}</div>
      <a href="deleteTask/{{task.id}}">
        <div class="trash-btn"><i class="fa fa-trash"></i></div>
      </a>
    </div>
    <div class="task-datetime">{{task.date}}</div>
  </div>
  {% endfor %}
  {% endif %}

  {% else %}
  <div class="warning">
    <div class="warning-title">
      Authentication Required
    </div>
    <div class="warning-description">
      Please <a href="/register/" class="to-register">sign up</a> or <a href="/#log-in" class="to-register">log in</a> first to access this feature
    </div>
  </div>

  {% endif %}


</div>
{% endblock content %}
