<!DOCTYPE html>

{% extends 'main/navfoot.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}
<div id="fh5co-hero-wrapper-study-2">
{% endblock %}

{% block desc %}
<div class="animated fadeIn wow">
    <div class="container study-space-desc-2">
        <div class="study-section-title">Add Another Source</div>
    </div>
</div>
{% endblock %}

{% block content %}
<br><br>
<div class="container animated fadeIn wow">
    <form action="{% url 'learning:addSource' %}" method="POST" class="study-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <p style="color: #102542; font-size: 20px; font-weight:600; margin-bottom: 0;">Name*</p>
            {% render_field form.name class="form-control col-md-8" placeholder="Name" style="font-family:Josefin Sans"%}
        </div>
        <div>
            <p style="color: #102542; font-size: 20px; font-weight:600; margin-bottom: 0; margin-top: 20px;">Category*</p>
            {% for check in form.category %}
                {{check.tag}} {{check.choice_label.capitalize}} <br>
            {% endfor %}
        </div>
        <div>
            <p style="color: #102542; font-size: 20px; font-weight:600; margin-bottom: 0; margin-top: 20px;">Description*</p>
            {% render_field form.description class="form-control col-md-8" placeholder="Type a description" style="font-family:Josefin Sans"%}
        </div>
        <div>
            <p style="color: #102542; font-size: 20px; font-weight:600; margin-bottom: 0; margin-top: 20px;">URL*</p>
            {% render_field form.url class="form-control col-md-8" placeholder="https://www.url.com" style="font-family:Josefin Sans"%}
        </div> 
        <div>
            <p style="color: #102542; font-size: 20px; font-weight:600; margin-bottom: 0; margin-top: 20px;">Image URL</p>
            {% render_field form.image class="form-control col-md-8" placeholder="url with .png or .jpg suffix" style="font-family:Josefin Sans"%}
        </div> 
        <p style="color: #102542; font-size: 15px; font-weight:600; margin-bottom: 0; margin-top: 20px;">*required</p>
        <p style="color: #102542; font-size: 15px; font-weight:600; margin-bottom: 0; margin-top: 20px;">This source will be publicly displayed</p>


        <div class="pt-2 pl-2 pr-2 pb-5 col-md-3 study-site" style="text-align: center; display: flex;">
            <button type="submit" class="btn submit-button-learning p-2 spe">Submit</button>
            <a href="{% url 'learning:index' %}" class="btn submit-button-learning p-2 spe">Cancel</a>
        </div>
    </form>
</div>    
<br><br>

{% endblock %}