{% extends 'main/navfoot.html' %}
{% load static %}

{% block desc %}
<div class="animated fadeIn wow">
    <div class="container study-space-desc">
        <div class="study-section-title">Study Space</div>
        <p class="study-section-desc">You can go all over the world to study with 
            just a browser, but what matters is that do you know where the sources are? Find out more learning sources 
            based on categories that you want to know here. There will be a short description of each 
            source to help you find what you need before going to the actual site. Lastly, you can also 
            contribute to add another learning source that might help other people with their studies.</p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container animated fadeIn wow">
    <div class="study-subsection-title">Explore Subjects</div>
    <div class="study-container">
        <div class="study-box-1"><a href="{% url 'learning:programming' %}"><img src="{% static 'img/programming.png' %}"></a></div>
        <div class="study-box-1"><a href="{% url 'learning:math' %}"><img src="{% static 'img/math.png' %}"></a></div>
        <div class="study-box-1"><a href="{% url 'learning:science' %}"><img src="{% static 'img/science.png' %}"></a></div>
    </div>
    <div class="study-container">
        <div class="study-box-1"><a href="{% url 'learning:language' %}"><img src="{% static 'img/language.png' %}"></a></div>
        <div class="study-box-1"><a href="{% url 'learning:business' %}"><img src="{% static 'img/business.png' %}"></a></div>
        <div class="study-box-1"><a href="{% url 'learning:others' %}"><img src="{% static 'img/others.png' %}"></a></div>
    </div>

    <div class="d-flex flex-row justify-content-between">
        <div class="study-subsection-title" style="padding-top: 0;" >3 Selected Sources For You</div>
        
        <a href="{% url 'learning:allSource' %}" style="padding-top: 10px;">
          <div class="btn submit-button-learning">More</div>
        </a>
    </div>
  
    <div class="study-container-2">
        {% for s in subject %}
        <div class="study-box-2" style="text-align: left; padding: 0 20px;">
            {% if '.png' in s.image or '.jpg' in s.image %}
            <div><img src="{{s.image}}" style="border-radius: 50%; height:100px; width: 100px; object-fit: cover; border: solid 2px #B3A394;"></div>
            {% else %}
            <div><img src="{% static 'img/no-image.png' %}" style="border-radius: 50%; height:100px; width: 100px; object-fit: cover;"></div>
            {% endif %}
            <br>
            <div class="study-source-title">{{s}}</div>
            {% for c in s.category.all %}
            <a href="/learning/{{c}}" class="btn button-learning p-2">{{c}}</a>
            {% endfor %}
            <p class="study-source-desc" style="color: #102542;">{{s.description}}</p>
            <div style="text-align: center;" class="study-site">
                <a href="{{subject0.url}}" target="_blank" class="btn submit-button-learning p-2 form-control">Go To Site</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="study-subsection-title" style="padding-bottom: 0;">You Can Also Add Other Sources</div>
    <div class="pt-2 pl-2 pr-2 pb-5 col-md-3 study-site" style="text-align: center;">
        <a href="{% url 'learning:addSource' %}" class="btn submit-button-learning p-2 form-control">Add Another Source</a>
    </div>
</div>    
{% endblock %}
