<!DOCTYPE html>

{% extends 'main/navfoot.html' %}
{% load static %}


{% block title %}
<div id="fh5co-hero-wrapper-study-2">
{% endblock %}

{% block desc %}
<div class="animated fadeIn wow">
    <div class="container study-space-desc-2">
        <div class="study-section-title">{{query}}</div>
    </div>
    
</div>
{% endblock %}

{% block content %}
<div class="container animated fadeIn wow" style="padding-top: 50px;">
    <div>
        {% for l in lst %}
            <div class="study-container-2">
                {% for s in l %}
                <div class="study-box-2" style="text-align: left; padding: 0 20px;">
                    {% if '.png' in s.image or '.jpg' in s.image %}
                    <div><img src="{{s.image}}" style="border-radius: 50%; height:100px; width: 100px; object-fit: cover; border: solid 2px #B3A394;"></div>
                    {% else %}
                    <div><img src="{% static 'img/no-image.png' %}" style="border-radius: 50%; height:100px; width: 100px; object-fit: cover;"></div>
                    {% endif %}
                    <br>
                    <div class="study-source-title">{{s}}</div>
                    {% if query == 'All Sources' %}
                        {% for c in s.category.all %}
                        <a href="/learning/{{c}}" class="btn button-learning p-2">{{c}}</a>
                        {% endfor %}
                    {% endif %}
                    <p class="study-source-desc" style="color: #102542;">{{s.description}}</p>
                    <div style="text-align: center;" class="study-site">
                        <a href="{{s.url}}" target="_blank" class="btn submit-button-learning p-2 form-control">Go To Site</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="pt-2 pl-2 pr-2 pb-5 col-md-3 study-site" style="text-align: center; margin-left: 1%; display: flex;">
        <a href="{% url 'learning:addSource' %}" class="btn submit-button-learning p-2">Add Another Source</a>
        <a href="{% url 'learning:index' %}" class="btn submit-button-learning p-2">Back</a>
    </div>
</div>


{% endblock %}